<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한가희 포트폴리오</title>
    <!-- 구글 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- 스와이퍼 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/common.js" defer></script>
    <script src="/js/tab.js" defer></script>
</head>
<body>
    <div id="header" class="on">
        <div class="center">
            <h1 class="logo">
                <a href="/">
                    <img class="logo_bk" src="/img/logo_1_bk.svg">
                    <img class="logo_wh" src="/img/logo_1_wh.svg">
                </a>
            </h1>

            <ul class="gnb poppins">
                <li><a href="#">Main</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Other Work</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>